[submodule "lib"]
	path = lib
	url = https://github.com/Nobel3D/xslibSamServer
[submodule "cli"]
	path = cli
	url = https://github.com/Nobel3D/xsSamServer-cli
[submodule "daemon"]
	path = daemon
	url = https://github.com/nobel3d/xsSamDaemon
